* {
    border:none;
    font-family:"Open Sans",sans-serif;
    margin:0;
    padding:0;
}
body{
    
}
.center{
    background-color:#CAE1FF;
    border-radius:15%;
    height:570px;
    width:600px;
    margin:auto;
}
h1{
    color:#495888;
    font-size:30px;
    margin-top:20px;
    padding-top:50px;
    text-align:center;
    text-decoration:none;
}
form,.btn,#display{
    border-radius:25px;
}   
form{
    background-color:#495888;
    box-shadow:5px 5px #3D4A68;
    height:280px;
    width:280px;
    margin:40px auto;
    padding:40px 0 30px 40px;
}
.btn{
    font-size:20px;
    height:45px;
    width:45px;
    margin:5px 0 5px 10px;
    cursor:pointer;/*光标为手*/
    outline:none;
}
#display{
    background-color:#98D1DC;
    box-shadow:inset 6px 6px 0px #3FACC0;
    height:47px;
    width:160px;
    padding-right:10px;
    margin-left:10px;
    color:#FFF;
    font-size:20px;
    font-weight:600;
    text-align:right;
} 
.num{
    background-color:#72778B;
    box-shadow:0 5px #5F6680;
    color:#DEDEDC;
    font-weight:600;
    /*text-align:center;*/
}    
.num:active{
    box-shadow:0 2px #5F6680;
    transform:translateY(2px);
    -ms-transform:translateY(2px);/*IE9*/
    -moz-transform:translateY(2px);/*Firefox*/
    -webkit-transform:translateY(2px);/* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
}
.cal{
    background-color:#DEDEDC;
    box-shadow:0 5px #BEBEBE;
    color:#72778B;
    font-weight:600;
    /*text-align:center;*/
}    
.cal:active{
    box-shadow:0 2px #BEBEBE;
    transform:translateY(2px);
    -ms-transform:translateY(2px);/*IE9*/
    -moz-transform:translateY(2px);/*Firefox*/
    -webkit-transform:translateY(2px);/* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
}
.other{
    background-color:#FF6A6A;
    box-shadow:0 5px #FF406F;
    color:#DEDEDC;
    font-weight:600;
    /*text-align:center;*/
}    
.other:active{
    box-shadow:0 2px #FF406F;
    transform:translateY(2px);
    -ms-transform:translateY(2px);/*IE9*/
    -moz-transform:translateY(2px);/*Firefox*/
    -webkit-transform:translateY(2px);/* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
}